<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>매니저 | 메인</title>
    <link rel="stylesheet" th:href="@{/css/admin/managerMain.css}" />
    <link rel="stylesheet" th:href="@{/css/admin/admin_header.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.3.0/chart.min.js"></script>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous"> -->
  </head>
  <body>

<header class="header" th:replace="fragment/admin_header::admin_header">
</header>

    <div class="manager-main">
      <div class="manager-board">
        <h2><span class="seller-application">월 별</span> 판매자 신청 현황</h2>
        <!--chart1시작-->
        <div class="row">
          <div class="col-md-7">
            <canvas id="myChart"></canvas>
          </div>
          <div class="myIndex">
            <table class="tbl-seller-application">
              <thead>
                <!-- <caption>협력 판매자 신청 현황</caption> -->
                <tr class="first">
                  <th>날짜</th>
                  <th>미처리</th>
                  <th>처리 완료</th>
                </tr>
              </thead>
              <tbody>
              <tr th:each="status : ${sellerStatus}">
                <th th:text="${status.brandRegisterDate}"></th>
                <td th:text="${status.sellerStatusOneCount + '건'}"></td>
                <td th:text="${status.sellerStatusTwoCount + '건'}"></td>
              </tr>


                <tr  th:each="month : ${sellerMonth}">
                  <th>최근 30일 평균</th>
                  <td th:text="${month.sellerStatusOneCount + '건'}"></td>
                  <td th:text="${month.sellerStatusTwoCount + '건'}"></td>
                </tr>

              <tr th:each="threeMonth : ${threeAverage}">
                <th>최근 3개월 평균</th>
                <td th:text="${#numbers.formatInteger(threeMonth.sellerStatusOneCount , 4, 'COMMA') + '건'}"></td>
                <td th:text="${#numbers.formatInteger(threeMonth.sellerStatusTwoCount , 4, 'COMMA') + '건'}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--chart2시작-->
        <h2><span class="seller-application">월 간</span> 전체 매출 액</h2>
        <div class="row2">
          <div class="col-md-12" style="width: 60%">
            <canvas
              id="myChartTwo"
              style="
                background-color: rgba(252, 252, 252, 0.9);
                border-radius: 5px;
              "
            ></canvas>
          </div>
        </div>
        <!--chart2끝-->
      </div>
    </div>
    <!--판매자 신청 현황, 미처리,처리완료 /최근 30일평균 ,최근 3개월 평균-->
<script src="https://code.jquery.com/jquery-3.6.4.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script th:src="@{/js/admin/managerMainChart.js}"></script>
  </body>
</html>
