<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>매니저 | 전체 상품관리</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin/manager_allGoods.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin_header.css}" />

</head>
<body>

<header class="header" th:replace="fragment/admin_header::admin_header">
</header>

  <!-- 판매자 메인 주문관리 목록 검색창 -->
  <section class="main-section main-section1">
    <div class="main-container main-container1">
      <!-- 판매자 브랜드이름띄우기 -->
      <h2><span class="brand-name">Monthly</span> 전체 (상품)서비스 검색</h2>
      <!-- 검색 조건 form태그 -->
      <form action="">
      <table class="main-section1-table">
        <tr>
          <th class="main-section1-th search">검색</th>
          <td>
            <select name="search-select" class="search-dropdown">
              <option value="brand-name">브랜드 명</option>
              <option value="goods-name">서비스 이름</option>
              <option value="goods-number">서비스 번호</option>
            </select>
            <input type="text" name="search-input" placeholder="입력" class="search-input">
          </td>
        </tr>
      </table>
      <!-- 검색버튼 누르면 상품관리리스트테이블 비동기로 띄움 -->
      <div class="btn-box"><button type="button" class="search-btn">검색</button></div>
    </form>
    </div>
  </section>
  <!-- 상품관리 리스트테이블 -->
  <section class="main-section main-section2">
    <div class="main-container main-container2">
      <!-- 검색 기간 조건에 따라 오늘/어제/1개월/3개월/전체로 span안에 텍스트변경 -->
      <h2><span class="brand-name">Monthly</span> 전체 (상품)서비스 관리</h2>
      <table>
        <thead class="goods-list-head">
       
          <span class="none-subscriber"><h3>구독자가 없습니다. </h3></span>
      
          <tr>
            <th>상품 번호</th>
            <th>(상품)서비스 이름</th>
            <th>상태</th>
            <th>소속 브랜드</th>
            <th>판매일</th>
            <th>판매자연락처</th>
            <th>판매자이메일</th>
            <th>판매자명</th>
            <th>저장</th>
          </tr>
        </thead>
        <tbody class="goods-list-body">
        
<!--          <tr>&lt;!&ndash;상품관리 리스트 #1&ndash;&gt;-->
<!--              <input type="hidden" value="?">-->
<!--              <td>1</td>-->
<!--              <td>[Cookpang]숲 키링</td>-->
<!--              <td>-->
<!--                <select name="parcel-status" id="" class="parcel-status">-->
<!--                  <option value="sell-ing">판매 중</option>-->
<!--                  <option value="sold-out">품절</option>-->
<!--                  <option value="sell-end">판매 종료</option>-->
<!--                </select>-->
<!--              </td>-->
<!--              <td>Cookpang</td>-->
<!--              <td>2020/02/21</td>-->
<!--              <td>010-1234-1234</td>-->
<!--              <td>nsoe12@naver.com</td>-->
<!--              <td>박은서</td>-->
<!--              <td><button type="submit" class="save-btn">save</button></td>-->
<!--            &lt;!&ndash; 저장버튼 누르면 비동기로 저장 &ndash;&gt;-->
<!--          </tr> &lt;!&ndash;상품관리 리스트#1 끝&ndash;&gt;-->

      
        </tbody>
      </table>
    </div>
  </section>




  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
  <script type="module" th:src="@{/js/admin/manager_product.js}"></script>
</body>
</html>