<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>매니저 | 전체 회원관리</title>
  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/admin/manager_allMember.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin_header.css}" />

</head>
<body>

<header class="header" th:replace="fragment/admin_header::admin_header">
</header>
  <!-- 판매자 메인 주문관리 목록 검색창 -->
  <section class="main-section main-section1">
    <div class="main-container main-container1">
      <!-- 판매자 브랜드이름띄우기 -->
      <h2><span class="brand-name">Monthly</span> 전체 회원 검색</h2>
      <!-- 검색 조건 form태그 -->

      <table class="main-section1-table">
        <tr>
          <th class="main-section1-th search">검색</th>
          <td>
            <select name="search-select" class="search-dropdown">
              <option value="member-id">회원 아이디</option>
              <option value="member-name">회원 이름</option>
              <option value="member-number">회원 번호</option>
            </select>
            <input type="text" placeholder="입력" class="search-input">
          </td>
        </tr>
      </table>
      <!-- 검색버튼 누르면 판매자관리리스트테이블 비동기로 띄움 -->
      <div class="btn-box"><button type="submit" class="search-btn">검색</button></div>

    </div>
  </section>
  <!-- 판매자 주문관리 리스트테이블 -->
  <section class="main-section main-section2">
    <div class="main-container main-container2">
      <!-- 검색 기간 조건에 따라 오늘/어제/1개월/3개월/전체로 span안에 텍스트변경 -->
      <h2><span class="brand-name">Monthly</span> 전체 회원 관리</h2>
      <table>
        <thead class="member-list-head">
          <tr>
            <th>회원 번호</th>
            <th>이름</th>
            <th>상태</th>
            <th>아이디</th>
            <th>연락처</th>
            <th>가입일</th>
            <th>생년월일</th>
            <th>이메일</th>
            <th>구독 중인 서비스</th>
            <th>저장</th>
          </tr>
        </thead>
        <tbody class="member-list-body">
          <!-- 주문관리 리스트 띄움 tr부분이 추가됨-->
<!--          <tr>-->
<!--              <td>1</td>-->
<!--              <td>박은서</td>-->
<!--              <td>-->
<!--                <select name="parcel-status" id="" class="parcel-status">-->
<!--                  <option value="member-ing">구독 중인 회원</option>-->
<!--                  <option value="member-ready">눈팅 회원</option>-->
<!--                </select>-->
<!--              </td>-->
<!--              <td>nsoe12</td>-->
<!--              <td>010-1234-1234</td>-->
<!--              <td>2023/04/21</td>-->
<!--              <td>1999/11/22</td>-->
<!--              <td>nsoe12@naver.com</td>-->
<!--              <td>-->
<!--                [Cookpang]숲 키링,[Cookpang]숲 키링,[Cookpang]숲 키링,[Cookpang]숲 키링,[Cookpang]숲 키링,[Cookpang]숲 키링,[Cookpang]숲 키링,-->
<!--              </td>-->
<!--              <td><button type="button" class="save-btn">save</button></td>-->

<!--          </tr> &lt;!&ndash;회원관리 테이블 끝&ndash;&gt;-->


      
        </tbody>
      </table>
    </div>
  </section>




  <script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<script type="module" th:src="@{/js/admin/manager_allMember.js}"></script>
</body>
</html>