* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  font-family: "SUIT-Regular";
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  color: #353535;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

@font-face {
  font-family: "SUIT-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

.userModify {
  position: relative;
  clear: both;
  margin: 0 5% 20px;
}

.container {
  min-width: 100%;
  padding: 150px 0 0;
  margin: 0 auto 0;
}

.userTitle {
  min-height: 30px;
  padding: 45px 0 45px;
  text-align: center;
}

.userTitle h2 {
  font-size: 33px;
  font-weight: normal;
  color: #8eb4c8;
}

.mainInput {
  display: flex;
  width: auto;
  justify-content: space-between;
}

.mainInput > h3 {
  margin: 50px 0 10px;
  font-size: 16px;
  color: #2e2e2e;
}

.mainInput > p {
  margin: 50px 0 10px;
  color: #353535;
  text-align: right;
}

.modTable {
  position: relative;
  margin: 20px 0 0;
  border-bottom: 1px solid #8eb4c8;
  border-top: 0;
  color: #fff;
  line-height: 1.5;
}

colgroup {
  display: table-column-group;
}

.modBody th {
  padding: 15px 0 15px 18px;
  border-top: 1px solid #8eb4c8;
  border-left: 1px solid #8eb4c8;
  border-bottom-width: 0;
  color: #353535;
  text-align: left;
  font-weight: normal;
  background-color: #fff;
}

.modBody td {
  padding: 11px 10px 10px;
  border-top: 1px solid #8eb4c8;
  border-right: 1px solid #8eb4c8;
  color: #353535;
  vertical-align: middle;
  width: auto;
}

input[type="text"],
input[type="password"] {
  height: 28px;
  line-height: 24px;
  padding: 2px 4px;
  border: 1px solid #8eb4c8;
  color: #111111;
  font-size: 12px;
}

input {
  vertical-align: middle;
}

th,
td {
  border: 0;
}

#postAddress {
  width: 40px;
  text-align: center;
}

.addr img {
  height: auto;
  vertical-align: middle;
}

#address1 {
  width: 280px;
  margin: 5px 0 0;
}

#address2 {
  width: 280px;
  margin: 5px 0 0;
}

.sumitBtn {
  position: relative;
  padding: 10px 0;
  text-align: center;
}

.sumitBtn > input {
  width: 140px;
  height: 40px;
}

#userRemove {
  position: absolute;
  right: 0;
}

.gender input {
  margin: 0 0;
}

#userModify {
  cursor: pointer;
}
