<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>main</title>
  <link rel="stylesheet" th:href="@{/css/board/board_product.css}">
  <link rel="stylesheet" th:href="@{/css/board/all.css}" />
</head>
<body>
<header class="board-header"  th:replace="fragment/board_header :: board_header"></header>
<!-- 전체 박스 -->
<div class="wrap">
  <div class="wrap-container">
    <div class="main">
      <div class="title">
        <h2>구독가능한 제품</h2>
      </div>
      <!-- <div class="brand_button">
        <div class="brand_catagory">
          <div class="all btn">
            <p>All</p>
          </div>
          <div class="btn">
            <p>첫번째</p>
          </div>
          <div class="btn">
            <p>두번째</p>
          </div>
          <div class="btn">
            <p>세번째</p>
          </div>
          <div class="btn">
            <p>네번째</p>
          </div>
        </div>
      </div> -->
<!--      <div class="product-list">-->
<!--        &lt;!&ndash; 여기를 js로 다 넣어서 반복문을 만들었어여~ &ndash;&gt;-->
<!--        <div class="product-row">-->
<!--          <div class="product-colum">-->
<!--            <div class="product-content">-->
<!--              <div class="product-img">-->
<!--                <img src="/img/product (1).jpg" alt="" />-->
<!--              </div>-->
<!--              <div class="product-p" th:each="product : ${productSelect}">-->
<!--                <div class="brand"><h4>[브랜드이름]</h4></div>-->
<!--                <div th:text="${product.productName}" class="product-name"><p></p></div>-->
<!--              </div>-->
<!--              <div class="product-price" th:text="${product.productPrice}"><p></p></div>-->
<!--            </div>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="product-colum">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="product-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="/img/product (2).jpg" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="procuct-p">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="brand"><h4>[브랜드이름]</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="product-name"><p>Y2K 호보백</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-price"><p>39,000원</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-modal">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="modal-up"><p>관심상품</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="modal-down">&ndash;&gt;-->
<!--&lt;!&ndash;                  <img src="/img/add-cart.png" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="product-colum">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="product-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="/img/product (3).jpg" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="procuct-p">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="brand"><h4>[브랜드이름]</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="product-name"><p>Y2K 호보백</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-price"><p>39,000원</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="product-colum">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="product-content">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-img">&ndash;&gt;-->
<!--&lt;!&ndash;                <img src="/img/product (4).jpg" alt="" />&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="procuct-p">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="brand"><h4>[브랜드이름]</h4></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="product-name"><p>Y2K 호보백</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="product-price"><p>39,000원</p></div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
      <div class="product-list" style="display: flex; width: 1400px;">
        <!-- product-row 요소에 th:each 루프를 사용하여 반복적으로 생성 -->
        <div class="product-row" th:each="product : ${productSelect}">
          <div class="product-column">
            <div class="product-content">
              <div class="product-img">
                <img th:src="@{/img/boardImg/ho.jpg}" alt="" />
              </div>
              <div class="product-info">
                <div class="brand">
                  <h4 th:text="${product.productName}"></h4>
                </div>
                <div class="product-name">
                  <p th:text="${product.productName}"></p>
                </div>
              </div>
              <div class="product-price">
                <p th:text="${product.productPrice}"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- #wrap -->

<!-- 전체 박스 -->

<div class="allTop" th:replace="fragment/board_top_btn :: board_top_btn"></div>

<!-- footer~!~!~ -->
<div class="allfooter" th:replace="fragment/board_footer :: board_footer"></div>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script th:src="@{/js/board/board_main.js}"></script>
<script th:src="@{/js/board/board_product.js}"></script>
</body>
</html>
