<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>main</title>
  <link rel="stylesheet" th:href="@{/css/board/board_product.css}">
  <link rel="stylesheet" th:href="@{/css/board/all.css}" />
</head>
<body>
<header class="board-header"  th:replace="fragment/board_header :: board_header"></header>
<!-- 전체 박스 -->
<div class="wrap">
  <div class="wrap-container">
    <div class="main">
      <div class="title">
        <h2>구독가능한 제품</h2>
      </div>


      <div class="product-list"> <!-- style="display: flex; width: 1400px;"-->
        <!-- product-row 요소에 th:each 루프를 사용하여 반복적으로 생성 -->
        <div class="product-row" >
          <div class="product-column" th:each="product : ${productSelect}">
            <div class="product-content" >
              <div class="product-img">
                <img th:src="'/product/upload/' + ${product.productFileUploadPath} + '/' + ${product.productFileUuid}+'_' + ${product.productFileName}" alt="" />
              </div>
              <div class="product-info">
                <div class="brand">
                  <h4 th:text="${product.brandName}"></h4>
                </div>
                <div class="product-name">
                  <p th:text="${product.productName}"></p>
                </div>
              </div>
              <div class="product-price">
                <p th:text="${product.productPrice}+'원' "></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<!-- #wrap -->

<!-- 전체 박스 -->

<div class="allTop" th:replace="fragment/board_top_btn :: board_top_btn"></div>

<!-- footer~!~!~ -->
<div class="allfooter" th:replace="fragment/board_footer :: board_footer"></div>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script th:src="@{/js/board/board_main.js}"></script>
<script th:src="@{/js/board/board_product.js}"></script>
</body>
</html>
