<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인헤더</title>
  <link rel="stylesheet" th:href="@{/css/board/all.css}">
</head>
<body>
<header class="board-header" th:fragment="board_header">
  <div class="spanheader_div" >
        <span class="spanheader"
        >

          <img
                th:src="@{/img/allImg/span-removebg-preview.png}"
                alt="span"
                style="width: 398px; height: 34px"
        /></span>
  </div>
  <div class="allHeader">
    <div class="allLogo" >
      <a th:href="@{/board/main}">
      <img th:src="@{/img/allImg/logo.png}" alt="logo" id="allLogo_img" />
      </a>
    </div>
    <!-- header왼쪽 -->
    <div class="top_category">
      <div class="allCategory">
        <ul class="top_category_ul">
          <li class="top_category_ul_li">
            <a class="main_menu" th:href="@{/board/about}">About Montly</a>
            <!-- <div class="top_category_div">
            <ul class="list_ul active">
              <li class="list_li">
                <a href="#">Montly의 제안</a>
              </li>
              <li class="list_li">
                <a href="#">Montly의 브랜드</a>
              </li>
              <li class="list_li">
                <a href="#">Montly의 상품</a>
              </li>
            </ul>
          </div> -->
          </li>

          <li class="allbar"></li>

          <li class="login_li">
          <a class="login_a" th:if="${session.userNumber == null}" th:href="@{/user/login}">
            로그인
          </a>
            <a class="login_a" th:unless="${session.userNumber == null}" th:href="@{/user/logout}">
              로그아웃
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- header오른쪽 -->
    <div class="allBanner">
      <div class="allBannerbox">
        <div class="banner_icon">
          <div class="search_icon">
            <a href="#"
            ><img
                    th:src="@{/img/allImg/search.png}"
                    alt="검색아이콘"
                    id="search_icon_img"
            />
            </a>
          </div>

          <!-- 검색하는 창 나오는 곳 -->
          <div class="search_btn">
            <form id="searchForm" th:action="@{/board/productSearch}" method="GET">
              <div class="search_div">
                <fieldset>
                  <span>검색</span>
                  <input type="text" id="keyword" class="keyword" name="searchInput" />
                  <button type="submit" style="border: none; background-color: #fff;" onclick="enter()" id="enterBtn">
                  <input type="image" th:src="@{/img/allImg/search.png}" id="search" class="imgBtn" /></button>
                </fieldset>
              </div>
            </form>
          </div>
          <!-- 검색하는 창 나오는 곳 -->

          <!-- 더보기 -->
          <div class="allother">
            <a href="#"
            ><img th:src="@{/img/allImg/other.png}" alt="" id="allother_img"
            /></a>
          </div>
        </div>
      </div>
    </div>

    <!-- 여긴 더보기 누르면 나오는 거  -->
    <div class="sidenav">
      <div class="sidenav_wrap">
        <div class="allCancel">
          <img th:src="@{/img/allImg/x.png}" alt="cancel" id="cancelimg" />
        </div>
        <div class="sidenav_up">
          <div class="nav_up">
            <p>세상의 모든 구독 서비스,</p>
            <br />
            <p>한 번에 모아보기</p>
            <hr />
          </div>
          <div class="nav_down">
            <div class="nav_f">
              <a th:href="@{/board/about}">About Montly</a>
            </div>
            <div class="nav_s">
              <a th:href="@{/board/brand}">브랜드 All</a>
            </div>
            <div class="nav_t">
              <a th:href="@{/board/product}">제품 All</a>
            </div>
          </div>
        </div>
        <div class="sidenav_down">
          <div class="sidenav_down_f" th:if="${session.userNumber == null}">
            <a th:href="@{/user/login}">나의 monthly</a>
          </div>
          <div class="sidenav_down_f" th:unless="${session.userNumber == null}">
            <a th:href="@{/user/mypage}">나의 monthly</a>
          </div>
<!--          <div class="sidenav_down_s" th:if="${session.userNumber == null}">-->
<!--            <a th:href="@{/user/login}">주문/배송조회</a>-->
<!--          </div>-->
<!--          <div class="sidenav_down_s" th:unless="${session.userNumber == null}">-->
<!--            <a href="">주문/배송조회</a>-->
<!--          </div>-->
        </div>
      </div>
    </div>
  </div>
</header>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/board/board_main.js}"></script>
<script type="module" th:src="@{/js/board/boardproductSearch.js}"></script>

</body>
</html>