<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인푸터</title>
    <link rel="stylesheet" th:href="@{/css/board/board_all.css}">
</head>
<body>
<div class="allfooter" th:fragment="board_footer">
    <div class="allfoot">
        <ul class="allfooter_ul">
            <div class="cs">
                <div class="cs_left">
                    <ul>
                        <li class="title"><strong>C/S CENTER</strong></li>
                    </ul>
                    <ul>
                        <li class="tel">010-8800-2821</li>
                        <li class="tel_time">
                            <strong>평일</strong>
                            9:00 - 14:00
                            <strong>점심</strong>
                            12:00 - 13:00
                            <p>주말 및 공휴일 휴무</p>
                        </li>
                    </ul>
                </div>
                <div class="cs_right">
                    <ul>
                        <li class="title">COMPANY INFO</li>
                    </ul>
                    <div class="inner2">
                        <div class="info">
                            <span><strong>(주)구독과 좋아요</strong> </span>
                            <span>사업자등록번호 : 123-45-67890</span>
                            <br />
                            <span>전화 : 010-8800-2821 </span>
                            <br />
                            <span>주소 : 서울특별시 역삼동 테헤란로 건물 13층</span>
                            <br />
                            <span>호스팅제공 : 구독과좋아요</span>
                        </div>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script th:src="@{/js/board/board_main.js}"></script>
</body>
</html>