<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기 | monthly.</title>
    <link rel="stylesheet" th:href="@{/css/board/all.css}" />
    <link rel="stylesheet" th:href="@{/css/user/find_pw_ok.css}">
  </head>

  <body>
  <header class="board-header"  th:replace="fragment/board_header :: board_header"></header>

    <div id="main">
      <div class="title2">
        <h2>비밀번호 찾기</h2>
      </div>
      <div class="container">
        <div class="info-space2" th:if="${notFound}">
          <p class="info2">입력하신 정보에 맞는 비밀번호를 찾을 수 없습니다!</p>
          <div class="result-box2">
            <p class="message2">
              입력하신 정보로 고객님의 비밀번호를 찾을 수 없습니다.
            </p>
            <img th:src="@{/img/user/warning.png}" alt="">
            <p class="message2">
            
              <br />
             하단에 비밀번호 찾기를 클릭해 다시 시도해보시거나 
             <br />
             로그인 버튼을 클릭해 다시 로그인해보세요. 
            </p>
            <p class="after-button">
              <a th:href="@{/user/login}" class="login">로그인</a>
              <a th:href="@{/user/findPw}" class="refind">비밀번호 찾기</a>
            </p>
            </div>
        </div>
        <div class="info-space" th:unless="${notFound}">
          <p class="info2">비밀번호 찾기가 완료 되었습니다.</p>
          <div class="result-box">
            <p class="message">
              입력한 아이디의 비밀번호입니다.<br />
              monthly는 고객님의 소중한 개인정보를 위해 비밀번호 변경을
              권장합니다.
            </p>
            <div class="member-info">
              <p class="thumbnail">
                <img
                  th:src="@{//img.echosting.cafe24.com/skin/base/member/img_member_default.gif}"
                  alt=""
                />
              </p>
              <div class="info-detail">
                <ul class="list">
                  <li>
                    <strong class="name">이름</strong
                    ><strong class="result"> : <span th:text="${user.userName}"></span></strong>
                  </li>
                  <li>
                    <strong class="id">아이디</strong
                    ><span class="result"> : <span th:text="${user.userId}"></span></span>
                  </li>
                  <li>
                    <strong class="pw">비밀번호</strong
                    ><span class="result"> : <span th:text="${user.userPassword}"></span></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <p class="message2">
            고객님의 비밀번호 찾기가 성공적으로 이루어졌습니다. 항상 고객님의
            <br />
            즐거운 구독 서비스를 위해 최선의 노력을 다하는 monthly가 되도록
            하겠습니다.
          </p>
          <p class="after-button">
            <a th:href="@{/user/login}" class="login">로그인</a>
          </p>
        </div>
      </div>
    </div>
  <div class="allTop" th:replace="fragment/board_top_btn :: board_top_btn"></div>
  <div class="allFooter" th:replace="fragment/board_footer :: board_footer"></div>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:src="@{/js/user/find_pw_ok.js}"></script>
  <script th:src="@{/js/board/board_main.js}"></script>
  </body>
</html>
