<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기 | monthly.</title>
    <link rel="stylesheet" th:href="@{/css/board/all.css}" />
    <link rel="stylesheet" th:href="@{/css/user/find_pw.css}">
  </head>

  <body>
  <header class="board-header"  th:replace="fragment/board_header :: board_header"></header>

    <div id="main">
      <div class="title2">
        <h2>비밀번호 찾기</h2>
      </div>
      <div class="container">
        <fieldset class="field">
          <p class="check">
            <input id="check-method1" value="2" type="radio" />
            <label for="check-method1">이메일</label>
            <input id="check-method2" value="2" type="radio" />
            <label for="check-method2">휴대폰번호</label>
          </p>
          <p class="input-id">
            <strong class="id">아이디</strong>
            <input class="id-space" type="text" name="userId"/>
          </p>
          <p class="input-name">
            <strong class="name">이름</strong>
            <input class="name-space" type="text" name="userName"/>
          </p>
          <p class="input-email">
            <strong class="email">이메일</strong>
            <input class="email-space" type="text" name="userEmail"/>
          </p>
          <p class="input-phone" style="display: none">
            <strong class="phone">휴대폰번호</strong>
            <input class="phone-space1" maxlength="3" type="text" />
            -
            <input class="phone-space2" maxlength="4" type="text" />
            -
            <input class="phone-space3" maxlength="4" type="text" />
          </p>
        </fieldset>
        <p class="button-area">
          <a href="" class="not-find-pw-button">확인</a>
          <a th:href="@{/user/findPwOK}" class="find-pw-button" style="display: none"
            >확인</a
          >
        </p>
      </div>
    </div>
  <div class="allTop" th:replace="fragment/board_top_btn :: board_top_btn"></div>
  <div class="allFooter" th:replace="fragment/board_footer :: board_footer"></div>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:src="@{/js/user/find_pw.js}"></script>
  <script th:src="@{/js/board/board_main.js}"></script>
  </body>
</html>
