<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>비밀번호 찾기 | monthly.</title>
    <link rel="stylesheet" th:href="@{/css/board/all.css}" />
    <link rel="stylesheet" th:href="@{/css/user/find_pw.css}">
  </head>

  <body>
  <header class="board-header"  th:replace="fragment/board_header :: board_header"></header>

    <div id="main">
      <form class="signup-form" th:action="@{/user/findPwOK}" method="post">
      <div class="title2">
        <h2>비밀번호 찾기</h2>
      </div>
      <div class="container">
        <fieldset class="field">
          <p class="input-id">
            <strong class="id">아이디</strong>
            <input class="id-space" type="text" name="userId"/>
          </p>
          <p class="input-name">
            <strong class="name">이름</strong>
            <input class="name-space" type="text" name="userName"/>
          </p>
          <p class="input-email">
            <strong class="email">이메일</strong>
            <input class="email-space" type="text" name="userEmail"/>
          </p>
        </fieldset>
        <p class="button-area">
          <button class="not-find-pw-button">확인</button>
          <button type="submit" class="find-pw-button" style="display: none"
            >확인</button
          >
        </p>
      </div>
      </form>
    </div>
  <div class="allTop" th:replace="fragment/board_top_btn :: board_top_btn"></div>
  <div class="allFooter" th:replace="fragment/board_footer :: board_footer"></div>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:src="@{/js/user/find_pw.js}"></script>
  <script th:src="@{/js/board/board_main.js}"></script>
  </body>
</html>
