<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입 | monthly.</title>
    <link rel="stylesheet" th:href="@{/css/user/user_header.css}">
    <link rel="stylesheet" th:href="@{/css/user/user_footer.css}">
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
  </head>

  <body>
<!--  <header class="header" th:replace="fragment/user_header :: user_header"></header>-->

    <div id="join-area">
      <!-- 타이틀 영역 -->
      <div class="title-area">
        <h2>회원 가입</h2>
      </div>
      <!-- 타이틀영역 끝 -->

      <!-- 기본 정보 영역 -->
      <div class="join-info">
        <h3>기본 정보</h3>
        <p class="required">
          <img
            th:src="@{//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif}"
            alt="필수"
          />
          필수입력사항
        </p>
      </div>
      <table class="summary">
        <caption></caption>
      </table>
      <table class="summary">
        <tbody>
          <tr>
            <th scope="row">
              아이디
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                alt="필수"
              />
            </th>
            <td>
              <input class="member-id" placeholder="" value="" type="text" />
              <span id="idMsg"></span>
              (영문소문자/숫자, 4~16자)
              <p class="warning1" style="display: none;">
                *아이디는 영어소문자, 숫자를 포함한 4글자 이상이여야 합니다.
                <p class="info1" style="display: none;">*사용 가능한 아이디입니다.</p>
              </p>
            </td>
          </tr>
          <tr>
            <th scope="row">
              비밀번호
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                alt="필수"
              />
            </th>
            <td>
              <input

                class="member-password"
                autocomplete="off"
                maxlength="16"
                0="disabled"
                value=""
                type="password"
              />
              (영문 대소문자/숫자/특수문자 중 3가지 이상 조합, 8자~16자)
              <p class="warning2" style="display: none;">
                *비밀번호는 영어소문자, 숫자, 특수문자를 포함한 8글자 이상이여야
                합니다.
              </p>
              <p class="info2" style="display: none;">*사용 가능한 비밀번호입니다.</p>
            </td>
          </tr>
          <tr>
            <th scope="row">
              비밀번호 확인
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                alt="필수"
              />
            </th>

            <td>
              <input

                class="member-password_confirm"
                autocomplete="off"
                maxlength="16"
                0="disabled"
                value=""
                type="password"
              />
              <p class="warning3" style="display: none;">*입력하신 비밀번호가 일치하지 않습니다.</p>
              <p class="info3" style="display: none;">*입력하신 비밀번호가 일치합니다.</p>
              <span id="password-confirm" class=""></span>
            </td>
          </tr>
          <tr>
            <th scope="row">
              이름
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                alt="필수"
              />
            </th>
            <td>
              <span id="name"
                ><input

                  class="member-name"
                  placeholder=""
                  maxlength="30"
                  value=""
                  type="text"
                  required
              /></span>
            </td>
          </tr>
          <tr>
            <th scope="row">주소</th>
            <td>
              <div class="before-address">
              <input

                class="member-address1"
                placeholder=""
                readonly="readonly"
                maxlength="14"
                value=""
                type="text"
              />
              <a href="#none" onclick="" class="post-btn"
                ><img class="post-img"
                  th:src="@{//img.echosting.cafe24.com/skin/base_ko_KR/member/btn_zipcode.gif}"
                  alt="우편번호" /></a
              ></div>
              <input
              
                class="member-address2"
                placeholder=""
                readonly="readonly"
                value=""
                type="text"
              />
              기본주소<br />
              <input
              
                class="member-address3"
                placeholder=""
                value=""
                type="text"
              />
              나머지주소 (선택입력가능)
            </td>
          </tr>
          <tr>
            <th scope="row">
              휴대전화
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                class=""
                alt="필수"
              />
            </th>
            <td>
              <select class="member-mobile1">
                <option value="010">010</option>
                <option value="011">011</option>
                <option value="016">016</option>
                <option value="017">017</option>
                <option value="018">018</option>
                <option value="019">019</option></select
              >-<input

                class="member-mobile2"
                maxlength="4"
                value=""
                type="text"
              />-<input

                class="member-mobile3"
                maxlength="4"
                value=""
                type="text"
              />
              <button type="button" class="mobile-check-button">
                인증번호받기
              </button>
              <p class="txtWarn gBlank5" id="result_send_verify_mobile_fail">
                휴대폰 번호를 입력하세요.
              </p>
              <ul
                class="txtInfo gBlank5 displaynone"
                id="result_send_verify_mobile_success"
              >
                <li hidden>인증번호가 발송되었습니다.</li>
                <li hidden>
                  인증번호를 받지 못하셨다면 휴대폰 번호를 확인해 주세요.
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <th scope="row">
              이메일
              <img
                th:src="@{https://morestore1.cafe24.com/%EC%82%AC%EC%A7%84/%E1%84%91%E1%85%B5%E1%86%AF%E1%84%89%E1%85%AE%20%E1%84%87%E1%85%A7%E1%86%AF%202.png}"
                width="10"
                height="10"
                alt="필수"
              />
            </th>
            <td>
              <input class="member-email" value="" type="text" />
              <p class="warning4" style="display: none;">*올바른 이메일 형식이 아닙니다.</p>
              <p class="info4" style="display: none;">*사용 가능한 이메일 입니다.</p>
              <span id="emailMsg"></span>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- 기본 정보 영역 끝 -->

      <!-- 추가 정보 영역 -->
      <h3 class="join-info2">추가정보</h3>
      <div class="member-info">
        <table class="summary">
          <tr class="select-gender">
            <th scope="row">성별 (선택)</th>
            
            <td>
              <div class="before-gender">
              <input

                class="member-gender1"
                value="M"
                type="radio"
                autocomplete="off"
              /><label class="gender">남자</label>
              <input

                class="member-gender2"
                value="F"
                type="radio"
                autocomplete="off"
              /><label class="gender">여자</label>
            </div>
            </td>
          
          </tr>
          <tr class="select-birth">
            <th scope="row">생년월일 (선택)</th>
            <td>
              <input

                class="member-birth-year"
                placeholder=""
                maxlength="4"
                value=""
                type="text"
              />
              년
              <input

                class="member-birth-month"
                placeholder=""
                maxlength="2"
                value=""
                type="text"
              />
              월
              <input

                class="member-birth-day"
                placeholder=""
                maxlength="2"
                value=""
                type="text"
              />
              일
            </td>
          </tr>
        </table>
      </div>
      <h3 class="join-info2">전체 동의</h3>
      <div class="member-agree-checkbox">
        <p>
          <span><input class="checkbox1" type="checkbox" /><em></em></span
          ><label
            ><strong
              >이용약관 및 개인정보수집 및 이용, 쇼핑정보 수신(선택)에 모두
              동의합니다.</strong
            ></label
          >
        </p>
      </div>
      <!-- 추가 정보 영역 끝 -->

      <!-- 이용 약관 영역 -->
      <div class="agree-area">
        <h3>[필수] 이용약관 동의</h3>
        <div class="agree-content"></div>
        <p class="check">
          <span>이용약관에 동의하십니까?</span>
          <input class="agree-checkbox" value="1" type="checkbox" /><label
            >동의함</label
          >
        </p>
      </div>
      <div class="agree-area">
        <h3>[필수] 개인정보 처리방침 동의</h3>
        <div class="agree-content"></div>
        <p class="check">
          <span>개인정보 처리방침에 동의하십니까?</span>
          <input id="input" class="agree-checkbox" value="1" type="checkbox" /><label
            >동의함</label
          >
        </p>
      </div>
      <!-- 이용 약관 영역 끝 -->

      <!-- 가입 버튼 영역 -->
      <div class="submit-area">
        <a href="" class="no-submit-button" onclick="">회원가입</a>
        <a th:href="@{/user/join_ok}" class="submit-button" style="display: none;" onclick="">회원가입</a>
      </div>
    </div>
    <!-- 회원 가입 영역 끝 -->
<!--    <footer class="footer" th:replace="fragment/user_footr :: user_footer"></footer>-->

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script th:src="@{/js/user/join.js}"></script>
  </body>
</html>