<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/user/userModify.css}" />
    <link rel="stylesheet" th:href="@{/css/board/all.css}" />
  </head>
  <body>
  <header class="board-header"  th:replace="fragment/board_header :: board_header"></header>
    <div class="userModify">

      <div class="container">

        <div class="userTitle" style="position: relative">
          <h2>회원 정보 수정</h2>
        </div>

        <form id="editForm" name="editForm" th:action="@{/user/userModify}" method="post" enctype="multipart/form-data">
          <div class="mainInput">
            <h3>기본 정보</h3>
            <p class="require">
              <img src="../img/ico_required.gif" alt="" />
              필수사항
            </p>
          </div>

          <!-- 배송지, 새로운비밀번호,확인 비밀번호 제외 모든 값이 db에서 가져와서 넣어줘야함 -->
          <div class="tableContainer">
            <table class="modTable" style="width: 100%;" border="1">
              <colgroup>
                <col style="width: 150px" />
                <col style="width: auto" />
              </colgroup>
              <tbody class="modBody">
                <!-- 아이디 -->
                <tr>
                  <th scope="row">
                    아이디
                    <img src="../img/ico_required.gif" alt="" />
                  </th>
                  <td>
                    <!-- 아이디 넣기 -->
                    <input name="userId" id="userId" type="text"
                           th:value="${user.userId}" value="" placeholder="" required  disabled/>
                    (영소문자/숫자,4~16자)
                  </td>
                </tr>

                <!-- 현재비밀번호 -->
                <tr>
                  <th>현재비밀번호</th>
                  <td>
                    <input class="pw" hidden th:value="${user.userPassword}">
                    <input id="userPassword" type="password" onchange="pw()"  placeholder="" />
                    <span id="pwchk"></span>
                  </td>
                </tr>

                <!-- 새로운 비밀번호 -->
                <tr>
                  <th>새로운 비밀번호</th>
                  <td>
                    <input
                      id="userNewPassword" class="pw"
                      type="password"
                      onchange="check_pw()"
                    />
                    (영대소문자/숫자/특수문자 중 3가지 이상 조합,8~16자)
                    <span id="checked"></span>
                  </td>
                </tr>

                <!-- 비밀번호 확인 -->
                <tr>
                  <th>비밀번호 확인</th>
                  <td>
                    <input name="checkPassword" id="checkPassword" class="pw" type="password" onchange="check_pw()" />

                    <span id="check"></span>
                  </td>
                </tr>

                <!-- 이름 -->
                <tr>
                  <th>
                    이름
                    <img src="../img/ico_required.gif" alt="" />
                  </th>
                  <td>
                    <!-- 이름 넣기 -->
                    <input name="userName" id="userName" type="text" th:value="${user.userName}" placeholder="" required disabled />
                    
                  </td>
                </tr>
                <!-- 생년월일 -->
                <tr>
                  <th>생년월일</th>
                  <td>
                    <input name="userBirthday" id="userBirthday" th:value="${user.userBirthday}" type="text" placeholder=""  disabled/>
                  </td>
                </tr>
                <!-- 주소 -->
                <tr>
                  <th>주소</th>
                  <td class="address">
                    <input name="deliveryPostcode" id="postAddress" th:value="${delivery.deliveryPostcode}" type="text" />
                    
                      <img src="../img/btn_zipcode.gif"  onclick="sample6_execDaumPostcode()" style="vertical-align: middle;" />
                    
                    <br />
                    <input name="deliveryAddress1" id="address1" th:value="${delivery.deliveryAddress1}"   type="text" /> 기본주소
                    <br />
                    <input name="deliveryAddress2" id="address2" th:value="${delivery.deliveryAddress2}"  type="text" /> 나머지주소(상세주소)
                  </td>
                </tr>

                <!-- 휴대전화 -->
                <tr>
                  <th>
                    휴대전화
                    <img src="../img/ico_required.gif" alt="" />
                  </th>
                  <td>
                    <!-- 휴대전화 넣기 -->
                    <input name="userPhoneNumber" th:value="${user.userPhoneNumber}" id="userPhoneNumber" type="text" required  disabled/>
                  </td>
                </tr>

                <!-- 이메일 -->
                <tr>
                  <th>
                    이메일
                    <img src="../img/ico_required.gif" alt="" />
                  </th>
                  <td>
                    <!-- 이메일 넣기 -->
                    <input name="userEmail"  th:value="${user.userEmail}" id="userEmail" type="text" required disabled/>
                  </td>
                </tr>

                <!-- 성별 -->
                <tr>
                  <th>
                    성별
                  </th>
                  <td class="gender">
                    <!-- db에서 값을 받아와서 if문 사용해서 M이면 남자 버튼 고정, F면 여자 버튼 고정 -->
                    <input hidden class="gender" th:value="${user.userGender}">
                    <input type="radio" name="gender" value="M" onclick="return false">남성
                    <input type="radio" name="gender" value="F"  onclick="return false">여성
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- 버튼 -->
            <div class="sumitBtn">
              <input
                id="userModify"
                type="submit"
                style="background-color: #1e4a53; color: #f8f9fa"
                value="회원정보 수정"
                
              />
              <!-- mypage,main 으로? -->
              <a class="backBtn" th:href="@{/user/mypage}">취소</a>
              <a id="userRemove" th:href="@{/user/changeStatus}">회원탈퇴</a>
            </div>
          </div>
        </form>
      </div>

      <div class="allfooter" th:replace="fragment/board_footer :: board_footer"></div>
    </div>

  </body>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"
  ></script>
  <script th:src="@{/js/user/userModify.js}"></script>
  <script th:src="@{/js/board/board_main.js}"></script>
</html>
