@font-face {
  font-family: 'SUIT-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
*{
  margin: 0;
  border: 0;
  padding: 0;
}
body{
  font-family:  'SUIT-Regular';
}

button{
  font-family:  'SUIT-Regular';
  background-color: white;
  cursor: pointer;
}
table{
  width: 100%;
  border-collapse: collapse;
}
th, td{
  border:1px solid #8eb4c8;
  padding: 10px;
  font-weight: 300;
  font-size: 14px;
  word-break: keep-all;
}

/* 상단제목 */
.brand-container{
  width: 80%;
  margin: 0 auto;
}
.brand-section{
  margin-top: 30px;
}
.page-title>h2{
  font-size: 25px;
  color: #8eb4c8;
  font-weight: 900;
}
/* 브랜드입력 테이블 */
.brand-info-table th{
  background-color: #8eb4c8;
  color: white;
  width: 50px;
  border-bottom: 1px solid white;
}
#brand-name{
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #8eb4c8;
  align-items: center;
  height: 20px;
  padding-left: 5px;
  margin-right: 10px;
}
input:focus{
  outline: none;
  background-color: #dce8ee;
}
textarea{
  padding: 5px;
  border: 1px solid #8eb4c8;
  resize: none;
}
textarea:focus{
  outline: none;
  background-color: #dce8ee;
}
#brand-contents{
  width: 90%;
}
/* 이미지파일 등록 구역 */
.brand-info-table .brand-image-th{
  border-bottom: 1px solid #8eb4c8;
}
.brand-image-td>p{
  margin-bottom: 10px;
  color: #8eb4c8;
  font-size: 16px;
}
.brand-image-td>input{
  margin-bottom: 10px;
}
.brand-image{
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #dce8ee;

}
.brand-image>img{
  width: 100%;
  object-fit: cover;
}
/* 저장 취소버튼 */
.btn-box {
  box-sizing: border-box;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.save-btn, .cancel-btn{
  width: 100px;
  height: 30px;
  margin: 0 5px;
  font-family: 'SUIT-Regular';
  border-radius: 3px;
  transition: all .3s ease-in-out;
}
.cancel-btn{
  color: #1e4a53;
  background-color: #dce8ee;
}
.save-btn{
  color:white;
  background-color: #1e4a53;
}
.cancel-btn:hover, .save-btn:hover{
  color: white;
  background-color: #8eb4c8;
}
/* 한줄데코 */
.bar{
  border-bottom: 1px solid #8eb4c8;
  margin-top: 20px;
}
/* 판매자 정보 */
.seller-info th, td{
  border:1px solid #8eb4c8;
  padding: 10px 10px 10px 18px;
  font-weight: 300;
  font-size: 14px;
  text-align: left;
}
.seller-info th>img{
  margin-left: 5px;
  vertical-align: middle;
  position: relative;
  top: -2px;
}
.seller-info>table input{
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #8eb4c8;
  align-items: center;
  height: 20px;
  padding-left: 5px;
  margin-right: 10px;
  caret-color: #8eb4c8;
}
/* 주소칸 */
.seller-postcode{
  display: flex;
  align-items: center;
}
#postcode{
  width: 50px;
  margin-bottom: 5px;
}
#postcode-btn{
  cursor: pointer;
}
#postcode-btn>img{
  height: 20px;
  position: relative;
  top: -1px;
}
#address1, #address2{
  width: 280px;
}
#address1{
  margin-bottom: 5px;
}
#seller-contents{
  width: 90%;
}

/* 인풋칸 설명 */
.inner-info{
  color: #8eb4c8;
}
/* 유효성검사 & 정규표현식 체크*/
.input-check{
  margin-top: 5px;
  font-size: 12px;
  color: #c88e8e;
}
.none{
  display: none;
}