<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품리스트</title>
  <link rel="stylesheet" th:href="@{/css/seller/seller_product_list.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin_header.css}">
</head>

<body>
<header class="header" th:replace="fragment/seller_header :: admin_header"></header>
  <div class="product-list-wrap">
    
    <!-- 검색 section -->
    <section class="product-list-section">
      <h2><span class="brand-name" th:text="${brandName}"></span> 상품 검색</h2>
      <form action="">
        <table class="product-list-search-table">
          <tr>
            <th class="product-list-search-th search">검색</th>
            <td class="status-input">
              <select name="search-select" id="" class="search-dropdown">
                <option value="product-number">상품번호</option>
                <option value="product-name">상품명</option>
              </select>
              <input type="text" placeholder="입력" name="search-input" class="search-input">
              <span class="product-status-p">판매상태 : </span>
              <label><input type="radio" name="product-status" value="all" checked><span>전체</span></label>
              <label><input type="radio" name="product-status" value="prepared"><span>판매준비</span></label>
              <label><input type="radio" name="product-status" value="selling"><span>판매중</span></label>
              <label><input type="radio" name="product-status" value="stop"><span>판매중지</span></label>
            </td>
          </tr>
        </table>
        <!-- 검색버튼 누르면 상품관리리스트테이블 비동기로 띄움 -->
        <div class="btn-box">
          <button type="button" class="search-btn">검색</button>
        </div>
      </form>
    </section>


    <!-- 전체 상품 리스트 section -->
    <section class="product-list-section">
      <div class="product-list-container">
        <!-- 검색 기간 조건에 따라 오늘/어제/1개월/3개월/전체로 span안에 텍스트변경 -->
        <h2>구독 상품 리스트</h2>
        <table class="">
          <thead class="product-list-head">
            <tr>
              <th>상품번호</th>
              <th>등록날짜</th>
              <th>판매상태</th>
              <th>상품명</th>
              <th>판매가격</th>
              <th>상품옵션</th>
              <th>재고</th>
              <th>상세설정</th>
              <th>저장</th>
            </tr>
          </thead>
          <tbody class="product-list-body">
            <!-- 주문관리 리스트 띄움 tr부분이 추가됨-->
            <!--<tr th:each="product : ${productList}">
              &lt;!&ndash; 주문처리, 택배사, 운송장번호선택 &ndash;&gt;
              <form action="#">
                <input type="hidden" value="${}">
                <td th:text="${product.productNumber}"></td>
                <td>2023-06-08</td>
                <td>
                  <select name="productStatus" id="">
                    <option value="0" th:selected="${product.productStatus}==0">판매준비</option>
                    <option value="1" th:selected="${product.productStatus}==1">판매중</option>
                    <option value="2" th:selected="${product.productStatus}==2">판매중지</option>
                  </select>
                </td>
                <td th:text="${product.productName}"></td>
                <td th:text="${product.productPrice}"></td>
                <td th:text="${product.productOption}"></td>
                <td th:text="${product.productAmount}"></td>
                &lt;!&ndash; 해당상품수정페이지로 이동 &ndash;&gt;
                <td><a th:href="@{/seller/modify(productNumber = ${product.productNumber})}" class="save-btn to-modify">상품 상세페이지로 이동</a></td>
                <td><button type="button" class="save-btn product-save">save</button></td>
              </form>-->
              <!-- 저장버튼 누르면 비동기로 저장 -->
<!--            </tr>-->
          </tbody>
        </table>
      </div>
      <div class="empty none">
        <p>검색 조건에 맞는 결과가 없습니다.</p>
      </div>
    </section>

        <div class="page-container">
          <ul class="page-box">
          <!--페이징버튼이 추가될 부분-->
          </ul>
        </div>
<!--    <div class="page-container">
      <ul class="page-box">
        <a th:href="@{/sellers/list(page=${pageVo.startPage -1})}" th:if="${pageVo.prev}">
          <li class="page-num prev">&lt</li>
        </a>
        <th:block th:each="i:${#numbers.sequence(pageVo.startPage, pageVo.endPage)}">
        <a th:href="@{/sellers/list(page=${i})}">
          <li class="page-num active" th:text="${i}" th:if="${i==pageVo.criteria.page}"></li>
          <li class="page-num" th:text="${i}" th:unless="${i==pageVo.criteria.page}"></li>
        </a>
        </th:block>
        <a th:href="@{/sellers/list(page=${pageVo.endPage +1})}">
          <li class="page-num next" th:if="${pageVo.next}">&gt</li>
        </a>
      </ul>
    </div>-->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script th:src="@{/js/admin/admin_header.js}"></script>
  <script>
    let $head = $('#seller-list');
    $(".header-nav-item>a").removeClass("header-active");
    $head.addClass("header-active");
  </script>
  <script type="module" th:src="@{/js/seller/seller_product.js}"></script>
</body>

</html>