<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monthly.mapper.BoardMapper">

<!--    브랜드 all-->
    <select id="selectAllBrands" resultType="brandFileVo">
        SELECT MB.BRAND_NAME, MB.BRAND_CONTENTS, MBF.BRAND_FILE_UPLOAD_PATH, MBF.BRAND_FILE_UUID, MBF.BRAND_FILE_NAME, MBF.BRAND_NUMBER
        FROM MONTHLY_BRAND MB
                 JOIN MONTHLY_BRAND_FILE MBF ON MB.BRAND_NUMBER = MBF.BRAND_NUMBER
                 JOIN MONTHLY_SELLER MS ON MB.SELLER_NUMBER = MS.SELLER_NUMBER
        WHERE MBF.BRAND_FILE_SIZE LIKE '%square%'
          AND MS.SELLER_STATUS = 2
    </select>

    <!--    제품 all-->
    <select id="productSelect" resultType="productFileVo">
--         SELECT B.BRAND_NAME, P.PRODUCT_NUMBER, P.PRODUCT_NAME, P.PRODUCT_PRICE, PF.PRODUCT_FILE_NAME, PF.PRODUCT_FILE_UPLOAD_PATH, PF.PRODUCT_FILE_UUID, P.BRAND_NUMBER
--         FROM MONTHLY_PRODUCT P
--                  JOIN MONTHLY_BRAND B ON P.BRAND_NUMBER = B.BRAND_NUMBER
--                  JOIN MONTHLY_PRODUCT_FILE PF ON P.PRODUCT_NUMBER = PF.PRODUCT_NUMBER
--         WHERE PF.PRODUCT_FILE_SIZE = 'm'
--           AND P.PRODUCT_STATUS = 1
--         ORDER BY P.PRODUCT_NUMBER DESC
SELECT B.BRAND_NAME, P.PRODUCT_NUMBER, P.PRODUCT_NAME, P.PRODUCT_PRICE, PF.PRODUCT_FILE_NAME, PF.PRODUCT_FILE_UPLOAD_PATH, PF.PRODUCT_FILE_UUID, P.BRAND_NUMBER
FROM MONTHLY_PRODUCT P
         JOIN MONTHLY_BRAND B ON P.BRAND_NUMBER = B.BRAND_NUMBER
         JOIN MONTHLY_PRODUCT_FILE PF ON P.PRODUCT_NUMBER = PF.PRODUCT_NUMBER
WHERE PF.PRODUCT_FILE_SIZE = 'm'
  AND P.PRODUCT_STATUS = 1
  AND P.BRAND_NUMBER IN (SELECT BRAND_NUMBER FROM MONTHLY_BRAND WHERE SELLER_NUMBER IN (SELECT SELLER_NUMBER FROM MONTHLY_SELLER WHERE SELLER_STATUS = 2))
ORDER BY P.PRODUCT_NUMBER DESC

    </select>

    <!--    제품 all로 들어가서 검색기능-->
    <select id="searchAll" resultType="productVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_NAME, B.BRAND_NAME, S.SELLER_NAME, P.PRODUCT_PRICE
        FROM MONTHLY_PRODUCT P
                 LEFT OUTER JOIN MONTHLY_BRAND B ON P.BRAND_NUMBER = B.BRAND_NUMBER
                 LEFT OUTER JOIN MONTHLY_SELLER S ON B.SELLER_NUMBER = S.SELLER_NUMBER
        WHERE (P.PRODUCT_NAME LIKE '%' || #{productName} || '%' OR B.BRAND_NAME LIKE '%' || #{brandName} || '%')
    </select>

    <select id="brandDetail" resultType="productFileVo" parameterType="long">
        SELECT MB.BRAND_NAME, MB.BRAND_CONTENTS, MBF.BRAND_FILE_UPLOAD_PATH, MBF.BRAND_FILE_UUID, MBF.BRAND_FILE_NAME,MBF.BRAND_NUMBER
        FROM MONTHLY_BRAND MB
                 JOIN MONTHLY_BRAND_FILE MBF ON MB.BRAND_NUMBER = MBF.BRAND_NUMBER
        WHERE MBF.BRAND_FILE_SIZE LIKE '%long%'
          AND MB.BRAND_NUMBER =#{brandNumber}
    </select>


<!--    main-->
<!--    <select id="mainAll" resultType="productFileVo">-->
<!--        SELECT  P.PRODUCT_NAME, P.PRODUCT_PRICE, BF.BRAND_FILE_UPLOAD_PATH, BF.BRAND_FILE_UUID,BF.BRAND_FILE_NAME, PF.PRODUCT_FILE_UPLOAD_PATH-->
<!--             ,PF.PRODUCT_FILE_UUID,PF.PRODUCT_FILE_NAME, B.BRAND_NUMBER-->
<!--        FROM MONTHLY_PRODUCT P-->
<!--                 JOIN MONTHLY_BRAND B ON P.BRAND_NUMBER = B.BRAND_NUMBER-->
<!--                 JOIN MONTHLY_PRODUCT_FILE PF ON P.PRODUCT_NUMBER = PF.PRODUCT_NUMBER-->
<!--                 JOIN MONTHLY_BRAND_FILE BF ON B.BRAND_NUMBER = BF.BRAND_NUMBER-->
<!--        WHERE BF.BRAND_FILE_SIZE = 'square'-->
<!--          AND PF.PRODUCT_FILE_SIZE = 'm'-->
<!--          AND P.PRODUCT_STATUS = 1-->
<!--    </select>-->





</mapper>