<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monthly.mapper.BoardMapper">

    <select id="selectAllBrands" resultType="brandFileVo">
        SELECT MB.BRAND_NAME, MB.BRAND_CONTENTS, MBF.BRAND_FILE_UPLOAD_PATH, MBF.BRAND_FILE_UUID, MBF.BRAND_FILE_NAME
        FROM MONTHLY_BRAND MB
                 JOIN MONTHLY_BRAND_FILE MBF ON MB.BRAND_NUMBER = MBF.BRAND_NUMBER
        WHERE MBF.BRAND_FILE_SIZE LIKE '%square%'
    </select>

    <select id="productSelect" resultType="productDto">
        SELECT *
        FROM MONTHLY_PRODUCT
        ORDER BY PRODUCT_NUMBER
    </select>

    <select id="searchAll" resultType="productVo">
        SELECT P.PRODUCT_NUMBER, P.PRODUCT_NAME, B.BRAND_NAME, S.SELLER_NAME, P.PRODUCT_PRICE
        FROM MONTHLY_PRODUCT P
                 LEFT OUTER JOIN MONTHLY_BRAND B ON P.BRAND_NUMBER = B.BRAND_NUMBER
                 LEFT OUTER JOIN MONTHLY_SELLER S ON B.SELLER_NUMBER = S.SELLER_NUMBER
        WHERE (P.PRODUCT_NAME LIKE '%' || #{productName} || '%' OR B.BRAND_NAME LIKE '%' || #{brandName} || '%')
    </select>

    <select id="mainAll" resultType="productFileVo">
            SELECT MB.BRAND_NAME, MB.BRAND_CONTENTS, MBF.BRAND_FILE_NAME, MBF.BRAND_FILE_UPLOAD_PATH, MBF.BRAND_FILE_UUID,
    MPF.PRODUCT_FILE_UPLOAD_PATH, MPF.PRODUCT_FILE_UUID, MB.BRAND_NUMBER, MPF.PRODUCT_FILE_NAME,  MBF.BRAND_FILE_SIZE
    FROM MONTHLY_BRAND MB
    JOIN MONTHLY_BRAND_FILE MBF ON MB.BRAND_NUMBER = MBF.BRAND_NUMBER
    JOIN MONTHLY_PRODUCT MP ON MB.BRAND_NUMBER = MP.BRAND_NUMBER
    JOIN MONTHLY_PRODUCT_FILE MPF ON MP.PRODUCT_NUMBER = MPF.PRODUCT_NUMBER
    WHERE MBF.BRAND_FILE_SIZE LIKE '%square%'
    </select>





</mapper>