<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monthly.mapper.ProductFileMapper">
<!--    제품번호로 제품사진리스트 조회-->
    <select id="proFileSelect" resultType="productFileDto">
        SELECT PRODUCT_FILE_NAME,PRODUCT_FILE_NUMBER,PRODUCT_FILE_UPLOAD_PATH,PRODUCT_FILE_UUID,PRODUCT_NUMBER FROM MONTHLY_PRODUCT_FILE
        WHERE PRODUCT_NUMBER = #{productNumber}
    </select>

    <insert id="insertProductFile">
        <selectKey keyProperty="productFileNumber" order="BEFORE" resultType="long">
            SELECT SEQ_PRODUCT_FILE.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MONTHLY_PRODUCT_FILE (
        PRODUCT_FILE_NUMBER, PRODUCT_FILE_NAME, PRODUCT_FILE_UPLOAD_PATH,
        PRODUCT_FILE_UUID, PRODUCT_NUMBER
        )VALUES (#{productFileNumber},#{productFileName},#{productFileUploadPath},#{productFileUuid},#{productNumber})
    </insert>

<!--    파일번호로 1개 제품파일정보조회-->
    <select id="selectProductFile" resultType="productFileDto">
        SELECT PRODUCT_FILE_NUMBER, PRODUCT_FILE_NAME, PRODUCT_FILE_UPLOAD_PATH,
               PRODUCT_FILE_UUID, PRODUCT_NUMBER
        FROM MONTHLY_PRODUCT_FILE
        WHERE PRODUCT_FILE_NUMBER = #{productFileNumber}
    </select>

    <!--    제품 이미지 수정-->
    <update id="updateProductFile">
        UPDATE MONTHLY_PRODUCT_FILE
        SET PRODUCT_FILE_NAME =#{productFileName},
            PRODUCT_FILE_UPLOAD_PATH = #{productFileUploadPath},
            PRODUCT_FILE_UUID = #{productFileUuid}
        WHERE PRODUCT_FILE_NUMBER = #{productFileNumber}
    </update>

    <!--  제품 이미지 ALL 삭제-->
    <delete id="deleteProductFile">
        DELETE FROM MONTHLY_PRODUCT_FILE
        WHERE PRODUCT_NUMBER = #{productNumber}
    </delete>



</mapper>