<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.monthly.mapper.SellerMapper">

<!--판매자 신청-->
    <insert id="insert">
        <selectKey keyProperty="sellerNumber" order="BEFORE" resultType="long">
            SELECT SEQ_SELLER.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO MONTHLY_SELLER(SELLER_NUMBER, SELLER_NAME, SELLER_ID, SELLER_PASSWORD, SELLER_PHONE_NUMBER, SELLER_POSTCODE,SELLER_ADDRESS1, SELLER_ADDRESS2,
        SELLER_EMAIL, SELLER_CONTENTS, SELLER_COMPANY_REGISTER_NUMBER)
        VALUES (#{sellerNumber},#{sellerName},#{sellerId},#{sellerPassword},#{sellerPhoneNumber},#{sellerPostcode},#{sellerAddress1}, #{sellerAddress2},#{sellerEmail},#{sellerContents},#{sellerCompanyRegisterNumber})
    </insert>
<!--판매자 아이디 중복검사-->
    <select id="selectId" resultType="int">
        SELECT COUNT(*) FROM MONTHLY_SELLER WHERE SELLER_ID =#{sellerId}
    </select>

<!--판매자 로그인-->
    <select id="selectSellerNumber" resultType="long">
        SELECT SELLER_NUMBER FROM MONTHLY_SELLER
        WHERE SELLER_ID =#{sellerId} and SELLER_PASSWORD=#{sellerPassword}
    </select>
<!--판매자 정보조회-->
    <select id="selectSellerInfo" resultType="sellerDto">
        SELECT SELLER_NUMBER, SELLER_NAME, SELLER_ID, SELLER_PASSWORD, SELLER_PHONE_NUMBER,
               SELLER_POSTCODE, SELLER_ADDRESS1, SELLER_ADDRESS2,
               SELLER_EMAIL, SELLER_CONTENTS, SELLER_COMPANY_REGISTER_NUMBER
        FROM MONTHLY_SELLER
        WHERE SELLER_NUMBER = #{sellerNumber}
    </select>
<!--판매자 현재 비밀번호 확인-->
    <select id="selectCurrentPw" resultType="int">
        SELECT COUNT(*) FROM MONTHLY_SELLER
        WHERE SELLER_NUMBER = #{sellerNumber}
          AND SELLER_PASSWORD = #{sellerPassword}
    </select>

<!--판매자 정보 수정-->
    <update id="updateSellerInfo">
        update MONTHLY_SELLER
        set  SELLER_PASSWORD = #{sellerPassword},
             SELLER_PHONE_NUMBER=#{sellerPhoneNumber},
             SELLER_POSTCODE = #{sellerPostcode},
             SELLER_ADDRESS1 = #{sellerAddress1},
             SELLER_ADDRESS2= #{sellerAddress2},
             SELLER_EMAIL = #{sellerEmail},
             SELLER_CONTENTS = #{sellerContents},
             SELLER_COMPANY_REGISTER_NUMBER=#{sellerCompanyRegisterNumber}
        where seller_number = #{sellerNumber}
    </update>

</mapper>